*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
#residents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.search{
    display: flex ;
    align-self: center;
}
.card {
    display: flex;
    margin: 10px;
    width: 18rem;
}

